<h1>App Component</h1>

<!-- директивы -->

<!-- <div *ngIf='isAdmin'>Admin True</div>
<div *ngIf='!isAdmin'>Admin False</div>
<button (click)='changeAdminStatus()'>Change is Admin</button> -->

<!-- <ul>
  <li *ngFor='let user of users; index as i'>
    <div>
      <p>№ {{i}}</p>
      <p>{{user.userName}}</p>
      <p>{{user.age}}</p>
    </div>
  </li>
</ul> -->

<!-- <ul>
  <ng-container *ngFor='let user of users'>
    <li>{{user.userName}}</li>
  </ng-container>
</ul> -->

<!-- <div [ngSwitch]="car">
  <p *ngSwitchCase="'Audi'">It`s Audi Block</p>
  <p *ngSwitchCase="'ZAZ'">It`s ZAZ Block</p>
  <p *ngSwitchCase="'BMW'">It`s BMW Block</p>
  <p *ngSwitchDefault>car not found </p>
</div> -->

<!-- <div [ngStyle]='elementStyle'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus fugiat architecto
  nobis omnis, exercitationem quo ut reprehenderit repellat eveniet, atque minima, provident dolor! Vel, dicta tempora.
  Ullam magnam officia perspiciatis.
</div>

<div [ngStyle]="{color: 5>10? '#BE3455': '#6868ab'}">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
  Repellendus fugiat architecto nobis omnis, exercitationem quo ut reprehenderit repellat eveniet, atque minima,
  provident dolor! Vel, dicta tempora. Ullam magnam officia perspiciatis.
</div>

<div [ngClass]="{'purple':!isAdmin,'blue':isAdmin}">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
  Repellendus fugiat architecto nobis omnis, exercitationem quo ut reprehenderit repellat eveniet, atque minima,
  provident dolor! Vel, dicta tempora. Ullam magnam officia perspiciatis.
</div>

<div [ngClass]="arrayOfClasses">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
  Repellendus fugiat architecto nobis omnis, exercitationem quo ut reprehenderit repellat eveniet, atque minima,
  provident dolor! Vel, dicta tempora. Ullam magnam officia perspiciatis.
</div> -->


<!-- пайпы -->

<p>Current date is: {{currentDate | date: 'shortDate'}}</p>

<ol>
  <ng-container *ngFor="let user of users | slice: 0:1">
    <li>{{user.userName}}</li>
  </ng-container>
</ol>
