<!-- <div>
  <p>Counter Name: {{name}}</p>
  <p>CounterValue: {{counterValue}}</p>
</div>

<button (click)="increment()">Increment Counter</button> -->

<!-- рефакторинг с интерполяцией -->

<!-- <div>
  <p>Counter Name: {{name}}</p>
  <p>CounterValue: {{counterValue}}</p>
  <input type="text" (input)="onInputChange($event)">
</div>

<button (click)="increment()">Increment Counter</button> -->

<!-- проекция контента -->

<!-- <p>under me content for Parent Component</p>
<hr>
<ng-content></ng-content> -->

<!-- переменные шаблона @ViewChild -->

<!-- <div [class.red]="isRed">
  <span>Text to change</span>
</div>

<button (click)="changeColor()">Change color</button> -->

<!-- переменные шаблона @ViewChildren -->

<!-- <div [class.red]="isRed"></div> -->

<!-- переменные шаблона @ContentChild -->

<!-- <div>
  <ng-content></ng-content>
  <button (click)="changeText()">Change text</button>
</div> -->

<!-- переменные шаблона @ContentChildren -->

<!-- <div>
  <ng-content></ng-content>
  <button (click)="changeGrandChildColor()">Change color</button>
</div> -->


